<div class="backdrop-form" data-modal-form>
  <div class="backdrop-form__modal-window">
    <button type="button" class="backdrop-form__close-btn" data-modal-form-close>
      <span class="material-icons">close</span>
    </button>

    <p class="backdrop-form__description">Мы свяжемся с вами в течение 15 минут</p>
    <form action="sendmail.php" method="POST" class="backdrop-form__form">
      <input
        class="backdrop-form-input"
        minlength="2"
        type="text"
        name="name"
        id="form-username"
        placeholder="Ваше Имя"
        required
      />
      <input
        class="backdrop-form-input"
        type="tel"
        name="telephone"
        id="form-telephon"
        placeholder="Ваш телефон"
        required
      />
      <button type="submit" class="backdrop-form__button">Отправить</button>
    </form>
  </div>
</div>
