<div class="backdrop-form" data-modal-form>
    <div class="modal-window">
    <button type="button" class="modal-form-window__close-btn" data-modal-close>
      <span class="material-icons">close</span>
    </button>
    <div class="container">        
            <p class="form-description">
                Мы свяжемся с вами в течение 15 минут
            </p>
        <form action="sendmail.php" method="POST" class="form" >
            
            <input
              class="form-input"
              minlength="2"
              type="text"
              name="name"
              id="form-username"
              placeholder="Ваше Имя"
              required
            />
            <input
              class="form-input"
              type="tel"
              name="telephone"
              id="form-telephon"
              placeholder="Ваш телефон"
              required
            />
            <button type="submit" class="button ">Отправить</button>
          </form>
    </div>
  </div>
</div>
</div>
