<section class="faqs section" data-aos="fade-up">
  <div class="container">
    <h1 class="faq__title titleh2">Услуги и цены</h1>
    <div class="faq">
      <div class="question">
        <h3>
          Консультирование по направлению: уголовное право/уголовный процесс, документальное
          сопровождение на любой стадии уголовного производства
        </h3>
        <svg width="15" height="15" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            fill="none"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <ul class="answer__list">
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Сопровождение процессуальных действий, которые предшествуют открытию уголовного
              производства
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">3 000 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Представление интересов клиента до момента открытия уголовного производства
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">2 000 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Обжалование постановлений об открытии уголовного производства
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">3 500 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
          <li class="answer__list-item">
            <p class="answer__list-item-description">
              Обжалование процессуальных действий и решений (составление жалоб, заявлений,
              притензий)
            </p>
            <div class="answer__wrapper-cost">
              <p class="answer__cost">1800 грн</p>
              <button type="button" class="answer__button">Заказать</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="faq">
      <div class="question">
        <h3>Регистрация и сопровождение нерезидентного бизнеса</h3>
        <svg width="15" height="15" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            fill="none"
            stroke="black"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          Отделку поверхностей с помощью штукатурной станции можно производить внутри и снаружи
          помещений, используя при этом соответствующий вид смеси (гипсовый раствор подходит
          исключительно для внутренних работ). Длинный шланг подачи штукатурного раствора позволяет
          с легкостью выполнять отделку стен и перекрытий на высоте до 10 метров от пола.
          Обеспечение станции водой может осуществляться со специальной бочки, поэтому наличие
          централизованного водоснабжения на объекте необязательно. Важным параметром для
          организации механизированного процесса является только наличие электросети. Поэтому
          оборудование успешно применяется для отделочных работ в домах, квартирах, офисах,
          административных и производственных помещениях, а также для облицовки фасадов зданий.
        </p>
      </div>
    </div>
    <div class="faq">
      <div class="question">
        <h3>Дополнительные услуги</h3>
        <svg width="15" height="10" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            fill="none"
            stroke="black"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          Черновая отделка стен/потолка ГКЛ стала популярной благодаря относительной простоте
          выполнения работ: монтаж листов гипсокартона не требует такой сноровки как при нанесении
          штукатурки, гипсокартону не требуется время на высыхание перед финишной отделкой, а
          процесс «обшивки» стен/потолка считается менее пыльным. Однако важную роль в выборе
          чернового слоя играет именно требования, которым должна соответствовать поверхность в
          дальнейшем. Если на стену/ потолок будут крепиться тяжелые конструкции (полки, декор,
          инсталляции и пр.), или поверхность может быть подвержена механическим воздействием
          (частое соприкосновение с мебелью, спортивными снарядами и т.д), то ГКЛ не лучший выбор.
          Хрупкость этого материала может иметь негативные проявления. Штукатурка является более
          надежным, долговечным и прочным отделочным материалом. Машинный способ нанесения
          штукатурки добавил преимуществ этому варианту чернового покрытия: скорость выполнения
          работ выросла в разы, а стоимость – существенно уменьшилась, сохранив качество на высоком
          уровне.
        </p>
      </div>
    </div>
  </div>
</section>
