.faq {
  max-width: 425px;

  margin: 0 auto 23px;
}
.faqs .container {
  max-width: 425px;
}
.faq__title {
  text-align: center;
  margin-bottom: 50px;
}
.question {
  display: flex;
  background: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  padding: 14px 11px;
}

.question h3 {
  color: var(--text-white-color);
  @include font(14px, 600, 20px);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer__list {
  @include font(14px, 300, 21px);
  background-image: url(../images/price/mobile/phone_price_img.jpg);
  padding-left: 12px;
  padding-right: 12px;
  & > :last-child {
    border-bottom: none;
  }
}

.answer__list-item {
  padding: 30px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.answer__list-item-description {
  margin-bottom: 15px;
}

.answer__wrapper-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answer__cost {
  @include font(20px, 400, 28px);
}
.answer__button {
  @include font(18px, 800, 21px);
  color: var(--text-white-color);
  background: var(--secondry-color);
  padding: 12px 42px;
}

.faq.active .answer {
  max-height: 678px;
  overflow: auto;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transforme 0.5s ease-in;
  margin-left: 10px;
  min-width: 15px;
  min-height: 15px;
}

@media screen and (min-width: 768px) {
  .faqs {
    padding-top: 30px;
  }
  .faq__title {
    text-align: center;
    margin-bottom: 60px;
    @include font(36px, 700, 42px);
  }
  .faq {
    max-width: 618px;
    margin: 0 auto 18px;
  }
  .question {
    margin-bottom: 20px;
  }
  .question h3 {
    @include font(18px, 700, 21px);
  }
  .answer p {
    @include font(16px, 300, 21px);
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .faqs {
    padding-top: 75px;
  }
  .faq__title {
    text-align: center;
    margin-bottom: 60px;
    @include font(48px, 700, 56px);
  }
  .faq {
    max-width: 807px;
    margin: 0 auto 20px;
  }
  .question {
    margin-bottom: 20px;
  }
  .question h3 {
    @include font(18px, 700, 21px);
  }
  .answer p {
    @include font(16px, 300, 21px);
    padding-bottom: 18px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
